*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Josefin Sans;
}

body {
  background: url(../media/contact-us/background.jpg) no-repeat center center fixed;
  background-size: cover;
}
@media (max-width: 767px) {
  body {
    background: url(../media/background-mobile.jpg);
  }
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(255, 255, 255, 0.8);
  color: black;
}

.logo img{
  height: 40px;
  margin: 20px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-size: 14px;
  color: black;
  transition: all .4s ease-in-out;
}

.navbar-links li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .4s ease-in-out;
}

.navbar-links li a:hover::after {
  width: 100%;
  transition: width .4s ease-in-out;
}

.toggle-button {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.page-title {
  position: absolute;
  top: 250px;
  width: 100%;  
  text-align: center;
  letter-spacing: 8px;
}

.page-title h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 300;
}

.content-area {
  position: absolute;
  top: 500px;
  width: 100%;
  background-color: white;
  padding-top: 60px;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .5fr .2fr;
  grid-template-areas: 
  "left right"
  "footer footer";
  grid-gap: 4rem;
}

#left {
  grid-area:left;
}
 

#right {
  grid-area:right;
}

#left img {
  width: 100%;
  height: auto;
  text-align: center;
}

#left h1 {
  width: 100%;
  padding: 20px 0px;
  font-weight: 400;
  font-size: 36px;
  border-bottom: 1px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}
#left h2 {
  width: 100%;
  padding: 12px 0px;
  font-weight: 300;
  font-size: 20px;
}

form{
  width: 90%;
  text-align: left;
}

label {
  font-size: 18px;
  font-weight: 400;
}
input {
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  border: none;
  margin-bottom: 25px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.1);
  padding: 6px;
}
select {
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  border: none;
  margin-bottom: 25px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.1);
  padding: 6px;
}
option {
  font-weight: 300;
}

textarea {
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  border: none;
  margin-bottom: 25px;
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.1);
  padding: 6px;
}

button {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  border: none;
  margin-top: 5px;
  background: #404040;
  padding: 15px;
  color: white;
  border: 1px solid #404040;
}

button:hover {
  cursor: pointer;
  transition: .3s ease-in-out;
  background: white;
  color: black;
  border: 1px solid #404040;
 } 

 footer {
  position: relative;	
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  grid-area:bottom;
}

footer ul li {
  display: inline-block;
  margin: 0 30px;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
  color: black;
}

@media (max-width: 936px) {
  .page-title h1 {
    font-size: 40px;
  }

  #left h1 {
    font-size: 24px;
  }
  #left h2 {
    font-size: 14px;
  }

  .form-control{
    font-size: 12px;
  }
  
  input{
    font-size: 14px;
  }
  
  form .submit {
    font-size: 12px;
  }

  .logo img{
  height: 30px;
   margin: 25px;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links li a::after {
    display: none;
  }

  .navbar-links.active {
      display: flex;
      transition: all 0.5s;
  }

  .container {
    width: 80%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .5fr .2fr;
    grid-template-areas: 
    "left"
    "right"
    "footer";
    grid-gap: 4rem;
  }
}

@media (max-width: 1113px){
  footer ul li {
    display: block;
    margin: 15px 0;
    font-size: 12px;
  }
}
  