*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Josefin Sans;
}

.body {
background-image: url('../media/index/image-1.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
animation: fade 30s linear infinite 0s;
animation-timing-function: ease-in-out;
}
  
@keyframes fade {
  0% {
    background-image: url('../media/index/image-1.jpg'),url('../media/index/image-1.jpg')
  }
  15% {
    background-image: url('../media/index/image-1.jpg'),url('../media/index/image-2.jpg')
  }
  20% {
    background-image: url('../media/index/image-2.jpg'),url('../media/index/image-2.jpg')
  }
  35% {
    background-image: url('../media/index/image-2.jpg'),url('../media/index/image-3.jpg')
  }
  40% {
    background-image: url('../media/index/image-3.jpg'),url('../media/index/image-3.jpg')
  }
  55% {
    background-image: url('../media/index/image-3.jpg'),url('../media/index/image-4.jpg')
  }
  60% {
    background-image: url('../media/index/image-4.jpg'),url('../media/index/image-4.jpg')
  }
  75% {
    background-image: url('../media/index/image-4.jpg'),url('../media/index/image-5.jpg')
  }
  80% {
    background-image: url('../media/index/image-5.jpg'),url('../media/index/image-5.jpg')
  }
  95% {
    background-image: url('../media/index/image-5.jpg'), url('../media/index/image-1.jpg')
  }
  100% {
    background-image: url('../media/index/image-1.jpg'),url('../media/index/image-1.jpg')
  }
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color:rgba(255, 255, 255, 0.8);
  color: black;
}

.logo img{
  height: 40px;
  margin: 20px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-size: 14px;
  color: black;
  transition: all .4s ease-in-out;
}


.navbar-links li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width .4s ease-in-out;
}

.navbar-links li a:hover::after {
  width: 100%;
  transition: width .4s ease-in-out;
}

.toggle-button {
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 930px) {
  .logo img{
    height: 30px;
   margin: 25px;
  }

  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links li a::after {
    display: none;
  }

  .navbar-links.active {
      display: flex;
      transition: all 0.5s;
  }
}