*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Josefin Sans;
}

body {
  background: url(../media/contact-us/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
  background-color: rgba(0,0,0,.4);
}

.nav-area {
  width: 1100px;
  height: 100%;
  margin: auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.nav-area ul {
  list-style: none;
  margin: 0;
}

.nav-area > ul > li {
  position: relative;
  display: inline-block;
}

.nav-area ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 30px 20px ;
  height: 80px;
  display: block;
  font-weight: 400;
  font-size: 14px;
}

.nav-area ul li:hover a {
  background-color: rgba(0,0,0,.6);
}

.nav-area li a {
  transition: all 0.3s ease 0s;
}

.nav-area li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.nav-area li a:hover::after {
  width: 100%;
  transition: width .3s;
}

.nav-area ul ul {
  position: absolute;
  padding: 0;
  display: none;
  top: 100%;
  left: 0;
}

.nav-area ul li:hover > ul {
  display: block;
}

.nav-area ul ul li:hover a {
  background-color: rgba(0,0,0,.3);
}

.page-title {
  position: absolute;
  top: 250px;
  width: 100%;  
  text-align: center;
}

.page-title h1 {
  font-size: 60px;
  color: #ffffff;
  font-weight: 600;
}

.content-area-container {
  padding: 75px 0px;
  position: absolute;
  top: 500px;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  margin: 0;
}

.content-area {
  height: 100%;
  width: 1100px;
  margin: auto;
}

.left {
  float: left;
  width: 40%;
  height: 100%;
  padding-bottom: 20px;
}

.profile img {
  width: 100%;
  height: auto;
}

.profile h1 {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  color: white;
  font-weight: 400;
  font-size: 30px;
}
.profile h2 {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  padding-top: 0;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

.right {
  float: left;
  width: 60%;
  height: 100%;
  padding-left: 100px;
  padding-top: 40px;
}

form {
  
  transition: all 2s ease-in-out;
}

.form-control{
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 18px;
}

input {
  height: 45px;
}

form .submit {
  background: #e6e6e6;
  border-color: transparent;
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 3px;
  height: 50px;
  margin-top: 40px;
}

form .submit:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: .3s ease-in-out;
 }

.bottom-ribbon {
  overflow: hidden;
  background-color: rgba(0,0,0,.4);
  margin-top: 100%;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-ribbon li {
  font-weight: 300;
  color: #d4d4d4;
  text-align: center;
  display: inline-block;
  padding: 12px 26px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px auto;
}
