<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>3 Bedroom Apartments</title>
	<link rel="stylesheet" href="css/style-3-bedroom-apartments.css">
	<link rel="stylesheet" href="css/lightbox.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
	<link rel="icon" href="media/tab-logo.png">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/smooth-scroll.js"></script>
	<script type="text/javascript" src="js/up-botton-fade-in.js"></script>
	<link rel="stylesheet" href="css/aos.css">
</head>

<body>
	<nav class="navbar">
		<div class="logo"><a href="index.html">
				<img src="media/nav-logo.png">
			</a></div>
		<a href="#" class="toggle-button">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</a>
		<div class="navbar-links">
			<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="apartments.html">APARTMENTS</a></li>
				<li><a href="resident-experience.html">RESIDENT EXPERIENCE</a></li>
				<li><a href="contact-us.html">CONTACT US</a></li>
			</ul>
		</div>
	</nav>
	<script src="js/nav.js"></script>

	<div class="page-title" data-aos="fade-up">
		<h1>3 Bedroom Apartments</h1>
	</div>

	<div class="content-area">
		<div class="container">
			<script src="js/aos.js"></script>
			<script type="text/javascript">
				AOS.init({
					duration: 1200,
				});
			</script>
			<div class="nav-column">
				<h1>3 Bedroom Apartments</h1>
				<a href="#k">Type K</a>
				<a href="#m">Type M</a>
			</div>

			<div class="content-column">
				<div class="map">
					<img src="media/studio-apartments/map.jpg" alt="">
				</div>
				<div class="description" data-aos="fade-up">
					Spacious, elegantly modern, and perfectly located, Collegetown Crossing exceeds expectations on all fronts.
					Beneath its large bedrooms, high ceilings, and beautifully furnished interiors, lies high quality masonry,
					concrete, steel construction, and state of the art soundproofing to ensure a good night's sleep. Convenience
					is right at your door with a 24-hour fitness center, trash and recycling on every floor, and a grocery store
					an elevator’s ride away. Love your home inside and out at Collegetown Crossing.
				</div>
				<div class="amenities" data-aos="fade-up">
					<h1>Amenities</h1>
					<ul>
						<li>Fully furnished rooms</li>
						<li>Heat and hot water included</li>
						<li>Heating and AC control unit in every room</li>
						<li>High speed fiber optic internet access</li>
						<li>Large bedrooms and closets</li>
						<li>24 hour fitness center</li>
						<li>On-site laundry</li>
						<li>Trash room on every floor</li>
						<li>Ample parking availability</li>
					</ul>
				</div>
				<div id="app">
					<section id="k">
						<div v-for="item in index10" class="type" data-aos="fade-up">
							<h1>Type K</h1>
							<h2>3 BED | 1 BATH | 2 FLOOR</h2>
							<h2>{{ item['fields']['availability'] }} available</h2>
							<h2>{{ item['fields']['price'] }}</h2>
						</div>
					</section>

					<section id="m">
						<div v-for="item in index12" class="type" data-aos="fade-up">
							<h1>Type M</h1>
							<h2>3 BED | 2 BATH | 5-6 FLOOR</h2>
							<h2>{{ item['fields']['availability'] }} available</h2>
							<h2>{{ item['fields']['price'] }}</h2>
						</div>
					</section>
				</div>


				<div class="media" data-aos="fade-up">
					<h1>Media</h1>
					<div class="gallery">
						<a href="media/3-bedroom-apartments/threebr-room1.jpg" data-lightbox="mygallery"
							data-title="3 Bedroom - Room 1"><img src="media/3-bedroom-apartments/threebr_room1.jpg" alt=""></a>
						<a href="media/3-bedroom-apartments/threebr-room2.jpg" data-lightbox="mygallery"
							data-title="3 Bedroom - Room 2"><img src="media/3-bedroom-apartments/threebr_room2.jpg" alt=""></a>
						<a href="media/3-bedroom-apartments/threebr-room3.jpg" data-lightbox="mygallery"
							data-title="3 Bedroom - Room 3"><img src="media/3-bedroom-apartments/threebr_room3.jpg" alt=""></a>
						<a href="media/3-bedroom-apartments/threebr-kitchen1.jpg" data-lightbox="mygallery"
							data-title="3 Bedroom - Kitchen 1"><img src="media/3-bedroom-apartments/threebr_kitchen1.jpg" alt=""></a>
						<a href="media/3-bedroom-apartments/threebr-kitchen2.jpg" data-lightbox="mygallery"
							data-title="3 Bedroom - Kitchen 2"><img src="media/3-bedroom-apartments/threebr_kitchen2.jpg" alt=""></a>
						<a href="media/3-bedroom-apartments/threebr-living.jpg" data-lightbox="mygallery"
							data-title="3 Bedroom - Living Room"><img src="media/3-bedroom-apartments/threebr_living.jpg" alt=""></a>
						<a href="media/3-bedroom-apartments/threebr-bathroom.jpg" data-lightbox="mygallery"
							data-title="3 Bedroom - Bathroom"><img src="media/3-bedroom-apartments/threebr_bathroom.jpg" alt=""></a>
					</div>
				</div>
				<script src="js/lightbox-plus-jquery.min.js"></script>
			</div>

			<!-- AirTable -->
			<script type="text/javascript" src="https://unpkg.com/vue"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
			<script type="text/javascript" src="js/vue.js"></script>
			<!-- AirTable -->

			<div class="bottom-ribbon">
				<ul class="bottom_links">
					<li>Study. Dine. Relax. Play.</li>
					<li>info@urbanithaca.com</li>
					<li>(607) 330-2442</li>
					<li>307 College Ave, Ithaca, New York, 14850</li>
				</ul>
			</div>
		</div>
		<a href="#">
			<button id="topBtn"><i class="fas fa-arrow-up"></i></button>
		</a>
</body>

</html>