<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>4 Bedroom Apartments</title>
	<link rel="stylesheet" href="css/style-4-bedroom-apartments.css">
	<link rel="stylesheet" href="css/lightbox.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
	<link rel="icon" href="media/tab-logo.png">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/smooth-scroll.js"></script>
	<script type="text/javascript" src="js/up-botton-fade-in.js"></script>
	<link rel="stylesheet" href="css/aos.css">
</head>

<body>
	<div class="navbar">
		<nav class="nav-area">
			<a href="index.html">
				<img class="logo" src="media/nav-logo.png" height="40"></a>
			<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="apartments.html">APARTMENTS</a>
					<ul>
						<li><a href="studio-apartments.html">STUDIO APARTMENTS</a></li>
						<li><a href="2-bedroom-apartments.html">2 BEDROOM APARTMENTS</a></li>
						<li><a href="3-bedroom-apartments.html">3 BEDROOM APARTMENTS</a></li>
						<li><a href="4-bedroom-apartments.html">4 BEDROOM APARTMENTS</a></li>
					</ul>
				</li>
				<li><a href="resident-experience.html">RESIDENT EXPERIENCE</a></li>
				<li><a href="contact-us.html">CONTACT US</a></li>
			</ul>
		</nav>
	</div>

	<div class="page-title" data-aos="fade-up">
		<h1>4 Bedroom Apartments</h1>
	</div>

	<div class="content-area">
		<div class="container">
			<script src="js/aos.js"></script>
			<script type="text/javascript">
				AOS.init({
					duration: 1200,
				});
			</script>
			<div class="nav-column">
				<h1>4 Bedroom Apartments</h1>
				<a href="#a">Type A</a>
				<a href="#c">Type C</a>
			</div>

			<div class="content-column">
				<div class="map">
					<img src="media/studio-apartments/map.jpg" alt="">
				</div>
				<div class="description" data-aos="fade-up">
					Spacious, elegantly modern, and perfectly located, Collegetown Crossing
					exceeds expectations on all fronts. Beneath its large bedrooms and
					beautifully furnished interiors, lies high quality masonry, steel construction,
					and state-of-the-art soundproofing between rooms and units. Convenience
					is also right at your door with a grocery store an elevator's ride away,
					24-hour fitness center, and trash receptacles on every floor. Love your
					home inside and out with Collegetown Crossing.
				</div>
				<div class="amenities" data-aos="fade-up">
					<h1>Amenities</h1>
					<ul>
						<li>Fully furnished rooms</li>
						<li>Heat and hot water included</li>
						<li>Heating and AC control unit in every room</li>
						<li>High speed fiber optic internet access</li>
						<li>Large bedrooms and closets</li>
						<li>24 hour fitness center</li>
						<li>On-site laundry</li>
						<li>Trash room on every floor</li>
						<li>Ample parking availability</li>
					</ul>
				</div>
				<div id="app">
					<section id="a">
						<div v-for="item in index0" class="type" data-aos="fade-up">
							<h1>Type A</h1>
							<h2>4 BED | 2 BATH | 2-6 FLOOR</h2>
							<h2>{{ item['fields']['availability'] }} available</h2>
							<h2>{{ item['fields']['price'] }}</h2>
						</div>
					</section>

					<section id="c">
						<div v-for="item in index2" class="type" data-aos="fade-up">
							<h1>Type C</h1>
							<h2>4 BED | 2 BATH | 3-6 FLOOR</h2>
							<h2>{{ item['fields']['availability'] }} available</h2>
							<h2>{{ item['fields']['price'] }}</h2>
						</div>
					</section>
				</div>


				<div class="media" data-aos="fade-up">
					<h1>Media</h1>
					<div class="gallery">
						<a href="media/4-bedroom-apartments/fourbr-room1.jpg" data-lightbox="mygallery"
							data-title="4 Bedroom - Room 1"><img src="media/4-bedroom-apartments/fourbr_room1.jpg" alt=""></a>
						<a href="media/4-bedroom-apartments/fourbr-room2.jpg" data-lightbox="mygallery"
							data-title="4 Bedroom - Room 2"><img src="media/4-bedroom-apartments/fourbr_room2.jpg" alt=""></a>
						<a href="media/4-bedroom-apartments/fourbr-room3.jpg" data-lightbox="mygallery"
							data-title="4 Bedroom - Room 3"><img src="media/4-bedroom-apartments/fourbr_room3.jpg" alt=""></a>
						<a href="media/4-bedroom-apartments/fourbr-room4.jpg" data-lightbox="mygallery"
							data-title="4 Bedroom - Room 4"><img src="media/4-bedroom-apartments/fourbr_room4.jpg" alt=""></a>
						<a href="media/4-bedroom-apartments/fourbr-kitchen.jpg" data-lightbox="mygallery"
							data-title="4 Bedroom - Kitchen"><img src="media/4-bedroom-apartments/fourbr_kitchen.jpg" alt=""></a>
						<a href="media/4-bedroom-apartments/fourbr-living.jpg" data-lightbox="mygallery"
							data-title="4 Bedroom - Living Room"><img src="media/4-bedroom-apartments/fourbr_living.jpg" alt=""></a>
						<a href="media/4-bedroom-apartments/fourbr-bathroom1.jpg" data-lightbox="mygallery"
							data-title="4 Bedroom - Bathroom 1"><img src="media/4-bedroom-apartments/fourbr_bathroom1.jpg" alt=""></a>
						<a href="media/4-bedroom-apartments/fourbr-bathroom2.jpg" data-lightbox="mygallery"
							data-title="4 Bedroom - Bathroom 2"><img src="media/4-bedroom-apartments/fourbr_bathroom2.jpg" alt=""></a>
					</div>
				</div>
				<script src="js/lightbox-plus-jquery.min.js"></script>
			</div>

			<!-- AirTable -->
			<script type="text/javascript" src="https://unpkg.com/vue"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
			<script type="text/javascript" src="js/vue.js"></script>
			<!-- AirTable -->

			<div class="bottom-ribbon">
				<ul class="bottom_links">
					<li>Study. Dine. Relax. Play.</li>
					<li>info@urbanithaca.com</li>
					<li>(607) 330-2442</li>
					<li>307 College Ave, Ithaca, New York, 14850</li>
				</ul>
			</div>
		</div>
		<a href="#">
			<button id="topBtn"><i class="fas fa-arrow-up"></i></button>
		</a>
</body>

</html>