<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Apartments</title>
	<link rel="stylesheet" href="css/style-apartments.css">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
	<link rel="icon" href="media/tab-logo.png">
	<link rel="stylesheet" href="css/aos.css">
</head>

<body>
	<div class="navbar">
		<nav class="nav-area">
			<a href="index.html">
				<img class="logo" src="media/nav-logo.png" height="40"></a>
			<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="apartments.html">APARTMENTS</a>
					<ul>
						<li><a href="studio-apartments.html">STUDIO APARTMENTS</a></li>
						<li><a href="2-bedroom-apartments.html">2 BEDROOM APARTMENTS</a></li>
						<li><a href="3-bedroom-apartments.html">3 BEDROOM APARTMENTS</a></li>
						<li><a href="4-bedroom-apartments.html">4 BEDROOM APARTMENTS</a></li>
					</ul>
				</li>
				<li><a href="resident-experience.html">RESIDENT EXPERIENCE</a></li>
				<li><a href="contact-us.html">CONTACT US</a></li>
			</ul>
		</nav>
	</div>
	<script src="js/aos.js"></script>
	<script type="text/javascript">
		AOS.init({
			duration: 1200,
		});
	</script>
	<div class="page-title" data-aos="fade-up">
		<h1>Apartments</h1>
	</div>

	<div class="content-area">
		<div class="container">

			<div class="filter-button">
				<ul>
					<li class="active" data-filter="*">View All</li>
					<li data-filter=".s">Studios</li>
					<li data-filter=".2">2 Bedroom</li>
					<li data-filter=".3">3 Bedroom</li>
					<li data-filter=".4">4 Bedroom</li>
					<li data-filter=".2f">2nd Floor</li>
					<li data-filter=".3f">3rd Floor</li>
					<li data-filter=".4f">4th Floor</li>
					<li data-filter=".5f">5th Floor</li>
					<li data-filter=".6f">6th Floor</li>
				</ul>
			</div>

			<div id="app" class="filter-item">
				<div class="item 4 2f 3f 4f 5f 6f">
					<div class="overlay overlay--blur">
						<a href="4-bedroom-apartments.html">
							<div class="title">Type A</div>
						</a>
						<div v-for="item in index0" class="description">
							<p>4 Bed | 2 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-a.jpg" alt="">
				</div>

				<div class="item 2 2f">
					<div class="overlay overlay--blur">
						<a href="2-bedroom-apartments.html">
							<div class="title">Type B</div>
						</a>
						<div v-for="item in index1" class="description">
							<p>2 Bed | 1 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-b.jpg" alt="">
				</div>

				<div class="item 4 3f 4f 5f 6f">
					<div class="overlay overlay--blur">
						<a href="4-bedroom-apartments.html">
							<div class="title">Type C</div>
						</a>
						<div v-for="item in index2" class="description">
							<p>4 Bed | 2 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-c.jpg" alt="">
				</div>

				<div class="item 2 2f 3f 4f 5f 6f">
					<div class="overlay overlay--blur">
						<a href="2-bedroom-apartments.html">
							<div class="title">Type D</div>
						</a>
						<div v-for="item in index3" class="description">
							<p>2 Bed | 1 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-d.jpg" alt="">
				</div>

				<div class="item 2 2f 3f 4f 5f 6f">
					<div class="overlay overlay--blur">
						<a href="2-bedroom-apartments.html">
							<div class="title">Type E</div>
						</a>
						<div v-for="item in index4" class="description">
							<p>2 Bed | 1 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-e.jpg" alt="">
				</div>

				<div class="item s 2f 3f 4f">
					<div class="overlay overlay--blur">
						<a href="studio-apartments.html">
							<div class="title">Type F</div>
						</a>
						<div v-for="item in index5" class="description">
							<p>1 Bed | 1 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-f.jpg" alt="">
				</div>

				<div class="item s 2f 3f 4f">
					<div class="overlay overlay--blur">
						<a href="studio-apartments.html">
							<div class="title">Type G</div>
						</a>
						<div v-for="item in index6" class="description">
							<p>1 Bed | 1 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-g.jpg" alt="">
				</div>

				<div class="item s 2f 3f 4f">
					<div class="overlay overlay--blur">
						<a href="studio-apartments.html">
							<div class="title">Type H</div>
						</a>
						<div v-for="item in index7" class="description">
							<p>1 Bed | 1 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-h.jpg" alt="">
				</div>

				<div class="item s 2f 3f 4f">
					<div class="overlay overlay--blur">
						<a href="studio-apartments.html">
							<div class="title">Type I</div>
						</a>
						<div v-for="item in index8" class="description">
							<p>1 Bed | 1 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-i.jpg" alt="">
				</div>

				<div class="item s 2f 3f 4f">
					<div class="overlay overlay--blur">
						<a href="studio-apartments.html">
							<div class="title">Type J</div>
						</a>
						<div v-for="item in index9" class="description">
							<p>1 Bed | 1 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-j.jpg" alt="">
				</div>

				<div class="item 3 2f 3f 4f 5f 6f">
					<div class="overlay overlay--blur">
						<a href="3-bedroom-apartments.html">
							<div class="title">Type K</div>
						</a>
						<div v-for="item in index10" class="description">
							<p>3 Bed | 1 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-k.jpg" alt="">
				</div>

				<div class="item 2 5f 6f">
					<div class="overlay overlay--blur">
						<a href="2-bedroom-apartments.html">
							<div class="title">Type L</div>
						</a>
						<div v-for="item in index11" class="description">
							<p>2 Bed | 1 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-l.jpg" alt="">
				</div>

				<div class="item 3 5f 6f">
					<div class="overlay overlay--blur">
						<a href="3-bedroom-apartments.html">
							<div class="title">Type M</div>
						</a>
						<div v-for="item in index12" class="description">
							<p>3 Bed | 2 Bath</p>
							<p>Available: {{ item['fields']['availability'] }}</p>
							<p>Price:
							<p>
						</div>
					</div>
					<img src="media/apartments/type-m.jpg" alt="">
				</div>

				<!-- AirTable -->
				<script type="text/javascript" src="https://unpkg.com/vue"></script>
				<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
				<script type="text/javascript" src="js/vue.js"></script>
				<!-- AirTable -->

			</div>
		</div>

		<div class="bottom-ribbon">
			<ul class="bottom_links">
				<li>Study. Dine. Relax. Play.</li>
				<li>info@urbanithaca.com</li>
				<li>(607) 330-2442</li>
				<li>307 College Ave, Ithaca, New York, 14850</li>
			</ul>
		</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/isotope.pkgd.min.js"></script>
	<script src="js/filter.js"></script>
</body>

</html>