<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Studio Apartments</title>
	<link rel="stylesheet" href="css/style-studio-apartments.css">
	<link rel="stylesheet" href="css/lightbox.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
	<link rel="icon" href="media/tab-logo.png">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />
	<link rel="stylesheet" href="css/aos.css">
</head>

<body>
	<nav class="navbar">
		<div class="logo"><a href="index.html"><img src="media/nav-logo.png"></a></div><a href="#"
			class="toggle-button"><span class="bar"></span><span class="bar"></span><span class="bar"></span></a>
		<div class="navbar-links">
			<ul>
				<li><a href="index.html">HOME</a></li>
				<li><a href="apartments.html">APARTMENTS</a></li>
				<li><a href="resident-experience.html">RESIDENT EXPERIENCE</a></li>
				<li><a href="contact-us.html">CONTACT US</a></li>
			</ul>
		</div>
	</nav>
	<div class="page-title" data-aos="fade-up">
		<h1>Studio Apartments</h1>
	</div>
	<div class="content-area">
		<div class="container">
			<div class="nav-column">
				<h1>Studio Apartments</h1><a href="#f">Type F</a><a href="#g">Type G</a><a href="#h">Type H</a><a href="#i">Type
					I</a><a href="#j">Type J</a>
			</div>
			<div class="content-column">
				<div class="map">
					<html>

					<body style="border: 0; margin: 0;">
						<div id="map" style="width: 100%; padding-top: 56.25%;"></div>
					</body>

					</html>
				</div>
				<div data-aos="fade-up" class="description">Spacious, elegantly modern, and perfectly located, Collegetown
					Crossing exceeds expectations on all fronts. Beneath its large bedrooms, high ceilings, and beautifully
					furnished interiors, lies high quality masonry,concrete, steel construction, and state of the art
					soundproofing to ensure a good night's sleep. Convenienceis right at your door with a 24-hour fitness center,
					trash and recycling on every floor, and a grocery storean elevator’s ride away. Love your home inside and out
					at Collegetown Crossing.</div>
				<div class="amenities" data-aos="fade-up">
					<h1>Amenities</h1>
					<ul>
						<li>Fully furnished rooms</li>
						<li>Heat and hot water included</li>
						<li>Heating and AC control unit in every room</li>
						<li>High speed fiber optic internet access</li>
						<li>Large bedrooms and closets</li>
						<li>24-hour fitness center</li>
						<li>On-site laundry</li>
						<li>Trash room on every floor</li>
						<li>Ample parking availability</li>
					</ul>
				</div>
				<div id="app">
					<section id="f">
						<div v-for="item in index5" class="type" data-aos="fade-up">
							<h1>Type F</h1>
							<h2>1 BED | 1 BATH | 2-6 FLOOR</h2>
							<h2>{{item['fields']['availability']}}available</h2>
							<h2>{{item['fields']['price']}}</h2>
							<div class="media">
								<div class="gallery"><a href="media/studio-apartments/studio-f-room1.jpg" data-lightbox="mygallery"
										data-title="Type F - Room 1"><img src="media/studio-apartments/studio_f_room1.jpg" alt=""></a><a
										href="media/studio-apartments/studio-f-room2.jpg" data-lightbox="mygallery"
										data-title="Type F - Room 2"><img src="media/studio-apartments/studio_f_room2.jpg" alt=""></a><a
										href="media/studio-apartments/studio-f-kitchen.jpg" data-lightbox="mygallery"
										data-title="Type F - Kitchen"><img src="media/studio-apartments/studio_f_kitchen.jpg" alt=""></a><a
										href="media/studio-apartments/studio-f-bathroom.jpg" data-lightbox="mygallery"
										data-title="Type F - Bathroom"><img src="media/studio-apartments/studio_f_bathroom.jpg" alt=""></a>
								</div>
							</div>
						</div>
					</section>
					<section id="g">
						<div v-for="item in index6" class="type" data-aos="fade-up">
							<h1>Type G</h1>
							<h2>1 BED | 1 BATH | 2-4 FLOOR</h2>
							<h2>{{item['fields']['availability']}}available</h2>
							<h2>{{item['fields']['price']}}</h2>
							<div class="media">
								<div class="gallery"><a href="media/studio-apartments/studio-g-room1.jpg" data-lightbox="mygallery"
										data-title="Type G - Room 1"><img src="media/studio-apartments/studio_g_room1.jpg" alt=""></a><a
										href="media/studio-apartments/studio-g-room2.jpg" data-lightbox="mygallery"
										data-title="Type G - Room 2"><img src="media/studio-apartments/studio_g_room2.jpg" alt=""></a><a
										href="media/studio-apartments/studio-g-kitchen.jpg" data-lightbox="mygallery"
										data-title="Type G - Kitchen"><img src="media/studio-apartments/studio_g_kitchen.jpg" alt=""></a><a
										href="media/studio-apartments/studio-g-bathroom.jpg" data-lightbox="mygallery"
										data-title="Type G - Bathroom"><img src="media/studio-apartments/studio_g_bathroom.jpg" alt=""></a>
								</div>
							</div>
						</div>
					</section>
					<section id="h">
						<div v-for="item in index7" class="type" data-aos="fade-up">
							<h1>Type H</h1>
							<h2>1 BED | 1 BATH | 2-4 FLOOR</h2>
							<h2>{{item['fields']['availability']}}available</h2>
							<h2>{{item['fields']['price']}}</h2>
							<div class="media">
								<div class="gallery"><a href="media/studio-apartments/studio-i-room1.jpg" data-lightbox="mygallery"
										data-title="Type H - Room 1"><img src="media/studio-apartments/studio_h_room1.jpg" alt=""></a><a
										href="media/studio-apartments/studio-i-room2.jpg" data-lightbox="mygallery"
										data-title="Type H - Room 2"><img src="media/studio-apartments/studio_h_room2.jpg" alt=""></a><a
										href="media/studio-apartments/studio-i-kitchen.jpg" data-lightbox="mygallery"
										data-title="Type H - Kitchen"><img src="media/studio-apartments/studio_h_kitchen.jpg" alt=""></a><a
										href="media/studio-apartments/studio-i-bathroom.jpg" data-lightbox="mygallery"
										data-title="Type H - Bathroom"><img src="media/studio-apartments/studio_h_bathroom.jpg" alt=""></a>
								</div>
							</div>
						</div>
					</section>
					<section id="i">
						<div v-for="item in index8" class="type" data-aos="fade-up">
							<h1>Type I</h1>
							<h2>1 BED | 1 BATH | 2-4 FLOOR</h2>
							<h2>{{item['fields']['availability']}}available</h2>
							<h2>{{item['fields']['price']}}</h2>
							<div class="media">
								<div class="gallery"><a href="media/studio-apartments/studio-i-room1.jpg" data-lightbox="mygallery"
										data-title="Type I - Room 1"><img src="media/studio-apartments/studio_i_room1.jpg" alt=""></a><a
										href="media/studio-apartments/studio-i-room2.jpg" data-lightbox="mygallery"
										data-title="Type I - Room 2"><img src="media/studio-apartments/studio_i_room2.jpg" alt=""></a><a
										href="media/studio-apartments/studio-i-kitchen.jpg" data-lightbox="mygallery"
										data-title="Type I - Kitchen"><img src="media/studio-apartments/studio_i_kitchen.jpg" alt=""></a><a
										href="media/studio-apartments/studio-i-bathroom.jpg" data-lightbox="mygallery"
										data-title="Type I - Bathroom"><img src="media/studio-apartments/studio_i_bathroom.jpg" alt=""></a>
								</div>
							</div>
						</div>
					</section>
					<section id="j">
						<div v-for="item in index9" class="type" data-aos="fade-up">
							<h1>Type J</h1>
							<h2>1 BED | 1 BATH | 2-4 FLOOR</h2>
							<h2>{{item['fields']['availability']}}available</h2>
							<h2>{{item['fields']['price']}}</h2>
							<div class="media">
								<div class="gallery"><a href="media/studio-apartments/studio-j-room1.jpg" data-lightbox="mygallery"
										data-title="Type J - Room 1"><img src="media/studio-apartments/studio_j_room1.jpg" alt=""></a><a
										href="media/studio-apartments/studio-j-room2.jpg" data-lightbox="mygallery"
										data-title="Type J - Room 2"><img src="media/studio-apartments/studio_j_room2.jpg" alt=""></a><a
										href="media/studio-apartments/studio-j-living.jpg" data-lightbox="mygallery"
										data-title="Type J - Living Room"><img src="media/studio-apartments/studio_j_living.jpg"
											alt=""></a><a href="media/studio-apartments/studio-j-bathroom.jpg" data-lightbox="mygallery"
										data-title="Type J - Bathroom"><img src="media/studio-apartments/studio_j_bathroom.jpg" alt=""></a>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<footer>
			<ul>
				<li>Study. Dine. Relax. Play.</li>
				<li>info@urbanithaca.com</li>
				<li>(607) 330-2442</li>
				<li>307 College Ave, Ithaca, New York, 14850</li>
			</ul>
		</footer>
	</div><a href="#"><button id="topBtn"><i class="fas fa-arrow-up"></i></button></a>
	<script type="text/javascript" src="js/smooth-scroll.js"></script>
	<script src="js/aos.js"></script>
	<script type="text/javascript">AOS.init({ duration: 1200, });</script>
	<script src="js/map.js"></script>
	<script src="js/lightbox-plus-jquery.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/up-botton-fade-in.js"></script>
	<script src="js/nav.js"></script>
	<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
</body>

</html>